<header>
    <ul>
        <li routerLink="/">slider</li>
        <li routerLink="/arriba">arriba abajo</li>
    </ul>
    <div style="text-align: center;">
        <h1>un programador</h1>
        <a href="https://unprogramador.com"><img src="https://unprogramador.com/wp-content/uploads/2018/05/Captura-de-pantalla-2017-10-24-a-las-00.31.36.png" width="200px" /></a>

    </div>


</header>

<router-outlet></router-outlet>