<div class="swipe" (swipeleft)="swipeleft($event)" (swiperight)="swiperight($event)">
    <div class="superlarge" [style.marginLeft]="spacefn">
        <div class="horizontal entradav" *ngFor="let card of cards" [style.backgroundColor]="card.color">
            <h3>{{card.name}} </h3>
        </div>
    </div>
</div>