.swipe {
    width: 100%;
    overflow-x: hidden;
    padding-top: 16vh;
}

.superlarge {
    width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.horizontal {
    width: 100vw;
    margin: 0;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.horizontal h3 {
    font-size: 50px;
}

.entradav {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: aparecev;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-duration: 0.6s;
}

@keyframes aparecev {
    to {
        opacity: 1;
    }
}