/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
}

header {
    z-index: 1;
    height: 20vh;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 0;
    background-color: #111133;
}

header ul {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    align-self: center;
}

ul li {
    color: white;
    font-size: 15px;
}

h1 {
    font-size: 18px;
    color: white;
}

header img {
    border-radius: 30px;
    padding-top: 3vh;
}