<div class="swipe" (swipeup)="swipeup($event)" (swipedown)="swipedown($event)">
    <div class="superlarge" [style.marginTop]="spacefn">
        <div class="horizontal entradav" *ngFor="let card of cards" [style.backgroundColor]="card.color">
            <h3>{{card.name}} </h3>
        </div>
    </div>
</div>