.swipe {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.superlarge {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.horizontal {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.horizontal h3 {
    font-size: 50px;
}

.entradav {
    transform: scale(0);
    animation-fill-mode: forwards;
    animation-name: aparecet;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-duration: 0.6s;
}

@keyframes aparecet {
    to {
        transform: scale(1);
    }
}